# Copy 自 conf/zoo_sample.cfg
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/opt/zookeeper/zkData
# the port at which the clients will connect
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

# 配置集群中各节点及其端口，2888 用于信息交互，3888 用于选举 Leader，这里的1，2，3称作peer list
# 如果节点的myid不在peer list里，则会报错，如果节点的myid和自己的ip不匹配，也会报错
# 总之，都匹配就行
server.1=zookeeper1.local:2888:3888
server.2=zookeeper2.local:2888:3888
server.3=zookeeper3.local:2888:3888